<div class="category">
  <div class="category-card" (click)="navigateToProduct()">
    <img
      src="../../assets/images/shirt.png"
      alt="category image"
      class="category-image"
    />
    <h5 class="cateory-name">Men's clothing</h5>
  </div>
  <div class="category-card" (click)="navigateToProduct()">
    <img
      src="../../assets/images/dress.png"
      alt="category image"
      class="category-image"
    />
    <h5 class="cateory-name">women's clothing</h5>
  </div>
  <div class="category-card" (click)="navigateToProduct()">
    <img
      src="../../assets/images/ring.png"
      alt="category image"
      class="category-image"
    />
    <h5 class="cateory-name">Jewelery</h5>
  </div>
  <div class="category-card" (click)="navigateToProduct()">
    <img
      src="../../assets/images/laptop.png"
      alt="category image"
      class="category-image"
    />
    <h5 class="cateory-name">Electronics</h5>
  </div>
</div>
